*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body{
  font-weight: 100;
  font-family: sans-serif;
}

#root{

}

.title{
  text-align: center;
}

.main-page-container{
  align-items: center;
  background: #fff;
  display: flex;
  justify-content: space-between;;
  height: 100vh;
  width: 100vw;
}

.order-history{
  height: 100%;
  background: #fff;
  border:3px solid #000;
  width: 80px;
  display: flex;
  flex-direction: column;
}

.cart-container{
  background: #fff;
  display: flex;
  height: 100%;
  display: flex;
  flex-direction: column;
  border:3px solid #000;
  width: 80px;
}

.cards-container{
  display: flex;
  align-items: center;
  height: 100%;
}


.cards-holder{
  display: flex;
  justify-content: space-around;
}

.card-container{
  border: 4px solid black;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 300px;
  background: #fff;
  padding: 20px;
  position: relative;
  margin: 5px;
  width: 225px;
}

.card-info{
  margin-bottom: 35px;
}

.button-container{
  background: #777;
  display: flex;
  left: 0px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 45px;
}

.button-container button{
  width: 100%;
}

.menu-title{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.order-history button ,.cart-container button{
  height: 70px;
  font-size: 40px;
  background: azure;
  border: none;
  border-bottom: 2px solid;
  outline: none;
}

.open-cart-container{
  display: flex;
  position: absolute;
  right: 0px;
  background: #fff;
  height: 698px;
}

.open-cart-history{
  border-color: #000;
  border-width: 5px 5px 5px 0px;
  border-style: double;
  width: 300px;
}

.open-card-tab{
  display: flex;
  flex-direction: column;
  width: 80px;
  border: 3px solid #000;
}

.open-cart-btn{
  height: 70px;
  font-size: 40px;
  background: azure;
  border: none;
  border-bottom: 2px solid;
  outline: none;
}

.open-menu-title{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.open-cart-history{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-history-cat{
  align-self: baseline;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

.cart-items-holder{
  align-self: baseline;
  padding-left: 20px;
}

.cart-item-markdown{
  padding: 10px;
}

#cart-items-headline{
  align-self: baseline;
}

.order-history-open{
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.order-history-tab{
  display: flex;
  flex-direction: column;
  border: 3px solid #000;
}

.order-history-tab button{
  height: 70px;
  font-size: 40px;
  background: azure;
  border: none;
  border-bottom: 2px solid #000;
  outline: none;
}

.menu-title-open{
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
}

.order-history-menu{
  padding: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-color: #000;
  border-width: 5px 5px 5px 0px;
  border-style: double;
  width: 300px;
  overflow: scroll;
}

.order-history-menu h3{

}

.order-history-details{
  padding: 23px;
}
