*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body{
}

#root{

}

.title{
  text-align: center;
}

.main-page-container{
  align-items: center;
  background: #fff;
  display: flex;
  justify-content: space-between;;
  height: 100vh;
  width: 100vw;
}

.order-history{
  height: 100%;
  background: #fff;
  border:3px solid #000;
  width: 80px;
  display: flex;
  flex-direction: column;
}

.cart-container{
  background: #fff;
  display: flex;
  height: 100%;
  display: flex;
  flex-direction: column;
  border:3px solid #000;
  width: 80px;
}

.cards-container{
  display: flex;
  align-items: center;
  height: 100%;
}


.cards-holder{
  display: flex;
  justify-content: space-around;
}

.card-container{
  border: 4px solid black;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 300px;
  background: #fff;
  padding: 20px;
  position: relative;
  margin: 5px;
  width: 225px;
}

.card-info{
  margin-bottom: 35px;
}

.button-container{
  background: #777;
  display: flex;
  left: 0px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 45px;
}

.button-container button{
  width: 100%;
}

.menu-title{
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.order-history button ,.cart-container button{
  height: 70px;
  font-size: 40px;
  background: azure;
  border: none;
  border-bottom: 2px solid;
  outline: none;
}
